@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.header {
    text-align: center;
    margin-top: auto;
    height: 40px;
    color: #1976d2;
}

.height-text {
    text-align: center;
    height: 55px;
    width: 330px;
    color: #1976d2;    
}

.weight-text {
    text-align: center;
    height: 55px;
    width: 330px;
    top: 1px;
    color: #1976d2;
}

.bmi-text {
    padding-top: 65px;
    text-align: center;
    color: #1976d2;
}

.health-text {
    padding-top: 0px;
    text-align: center;
    color: #1976d2;
}

.calculate {
    text-align: center;
    height: 40px;
    width: 240px;
    top: 40px;
    background-color: #1976d2;
    font-family: 'Ubuntu', sans-serif;
}

.bmi-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

